/* ! TEST FILE, DO NOT DELETE (ALSO BRADY SMELLS)*/
.a {font-size: 14px;





font

/* Junk CSS 


901oao {
  border: 0 solid black;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 1);
  display: inline;
  font: 14px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.r-3s2u2q {
  white-space: nowrap;
}
.r-b88u0q {
  font-weight: 700;
}
.r-1i10wst {
  font-size: 18px;
}